.CartWidgetPos {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 25px;
}

.bubble {
  width: 20px;
  height: 20px;
  border: 2px dotted rgb(185, 229, 243);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
